Repository open-telemetry/opentelemetry-erlang-contrib, changes with the labels that .github/labeler.yml gives for each.
All labels: elixir, erlang, instrumentation, propagators, examples, utilities, scope-ci, opentelemetry_aws_xray, opentelemetry_cowboy, opentelemetry_dataloader, opentelemetry_ecto, opentelemetry_elli, opentelemetry_finch, opentelemetry_grpcbox, opentelemetry_httpoison, opentelemetry_instrumentation_http, opentelemetry_nebulex, opentelemetry_oban, opentelemetry_phoenix, opentelemetry_process_propagator, opentelemetry_redix, opentelemetry_req, opentelemetry_telemetry, opentelemetry_tesla

.github/labeler.yml:

elixir:
  - instrumentation/**/*.ex
  - instrumentation/**/*.exs
  - instrumentation/**/mix.lock
  - propagators/**/*.ex
  - propagators/**/*.exs
  - propagators/**/mix.lock
  - exporters/**/*.ex
  - exporters/**/*.exs
  - exporters/**/mix.lock
  - examples/**/*.ex
  - examples/**/*.exs
  - examples/**/mix.lock
  - utilities/**/*.ex
  - utilities/**/*.exs
  - utilities/**/mix.lock

erlang:
  - instrumentation/**/*.erl
  - instrumentation/**/*.hrl
  - instrumentation/**/rebar.*
  - propagators/**/*.erl
  - propagators/**/*.hrl
  - propagators/**/rebar.*
  - exporters/**/*.erl
  - exporters/**/*.hrl
  - exporters/**/rebar.*
  - examples/**/*.erl
  - examples/**/*.hrl
  - examples/**/rebar.*
  - utilities/**/*.erl
  - utilities/**/*.hrl
  - utilities/**/rebar.*

instrumentation:
  - instrumentation/**/*

propagators:
  - propagators/**/*

examples:
  - examples/**/*

utilities:
  - utilities/**/*

scope-ci:
  - .github/workflows/**

opentelemetry_aws_xray:
  - utilities/opentelemetry_aws_xray/**/*

opentelemetry_cowboy:
  - instrumentation/opentelemetry_cowboy/**/*

opentelemetry_dataloader:
  - instrumentation/opentelemetry_dataloader/**/*

opentelemetry_ecto:
  - instrumentation/opentelemetry_ecto/**/*

opentelemetry_elli:
  - instrumentation/opentelemetry_elli/**/*

opentelemetry_finch:
  - instrumentation/opentelemetry_finch/**/*

opentelemetry_grpcbox:
  - instrumentation/opentelemetry_grpcbox/**/*

opentelemetry_httpoison:
  - instrumentation/opentelemetry_httpoison/**/*

opentelemetry_instrumentation_http:
  - utilities/opentelemetry_instrumentation_http/**/*

opentelemetry_nebulex:
  - instrumentation/opentelemetry_nebulex/**/*

opentelemetry_oban:
  - instrumentation/opentelemetry_oban/**/*

opentelemetry_phoenix:
  - instrumentation/opentelemetry_phoenix/**/*

opentelemetry_process_propagator:
  - propagators/opentelemetry_process_propagator/**/*

opentelemetry_redix:
  - instrumentation/opentelemetry_redix/**/*

opentelemetry_req:
  - instrumentation/opentelemetry_req/**/*

opentelemetry_telemetry:
  - utilities/opentelemetry_telemetry/**/*

opentelemetry_tesla:
  - instrumentation/opentelemetry_tesla/**/*

chore: run propagator dialyzer on CI (#202)
  .github/elixir-test-matrix.json
  .github/workflows/elixir.yml
  propagators/opentelemetry_process_propagator/.gitignore
  propagators/opentelemetry_process_propagator/mix.exs
  propagators/opentelemetry_process_propagator/mix.lock
Labels: elixir, propagators, scope-ci, opentelemetry_process_propagator

Update Oban's README.md (#222)
  instrumentation/opentelemetry_oban/README.md
Labels: instrumentation, opentelemetry_oban

Add tests to cover new liveview integration
  instrumentation/opentelemetry_phoenix/test/opentelemetry_phoenix_test.exs
  instrumentation/opentelemetry_phoenix/test/support/phoenix_liveview_meta.ex
Labels: elixir, instrumentation, opentelemetry_phoenix

Add tests to cover new liveview integration (#221)
  instrumentation/opentelemetry_phoenix/test/opentelemetry_phoenix_test.exs
  instrumentation/opentelemetry_phoenix/test/support/phoenix_liveview_meta.ex
Labels: elixir, instrumentation, opentelemetry_phoenix

Revert "chore: run propagator dialyzer on CI (#202)"
  .github/elixir-test-matrix.json
  .github/workflows/elixir.yml
  propagators/opentelemetry_process_propagator/.gitignore
  propagators/opentelemetry_process_propagator/mix.exs
  propagators/opentelemetry_process_propagator/mix.lock
Labels: elixir, propagators, scope-ci, opentelemetry_process_propagator

Revert "chore: run propagator dialyzer on CI (#202)" (#224)
  .github/elixir-test-matrix.json
  .github/workflows/elixir.yml
  propagators/opentelemetry_process_propagator/.gitignore
  propagators/opentelemetry_process_propagator/mix.exs
  propagators/opentelemetry_process_propagator/mix.lock
Labels: elixir, propagators, scope-ci, opentelemetry_process_propagator

Update renovate.json
  renovate.json
Labels: none

Update elixir-test-matrix.json
  .github/elixir-test-matrix.json
Labels: none
