Repository open-telemetry/opentelemetry-erlang-contrib, changes with the labels that .github/labeler.yml gives for each.
All labels: elixir, erlang, instrumentation, propagators, examples, scope-ci, opentelemetry_phoenix

Start PR templates for existing projects and general PR (#8)
  .github/PULL_REQUEST_TEMPLATE/new_project_template.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: none

Fix typos
  README.md
Labels: none

adds entry about Plug.Telemetry
  instrumentation/opentelemetry_phoenix/README.md
Labels: instrumentation, opentelemetry_phoenix

Adds reference to phoenix endpoint template
  instrumentation/opentelemetry_phoenix/README.md
Labels: instrumentation, opentelemetry_phoenix

Adds readme entry on Plug.Telemetry (#20)
  instrumentation/opentelemetry_phoenix/README.md
Labels: instrumentation, opentelemetry_phoenix

Update github URL for Hex.pm
  instrumentation/opentelemetry_phoenix/mix.exs
Labels: elixir, instrumentation, opentelemetry_phoenix

Update github URL for Hex.pm (#21)
  instrumentation/opentelemetry_phoenix/mix.exs
Labels: elixir, instrumentation, opentelemetry_phoenix

Fix typos (#17)
  README.md
Labels: none

.github/labeler.yml:

elixir:
  - instrumentation/**/*.ex
  - instrumentation/**/*.exs
  - instrumentation/**/mix.lock
  - propagators/**/*.ex
  - propagators/**/*.exs
  - propagators/**/mix.lock
  - exporters/**/*.ex
  - exporters/**/*.exs
  - exporters/**/mix.lock
  - examples/**/*.ex
  - examples/**/*.exs
  - examples/**/mix.lock

erlang:
  - instrumentation/**/*.erl
  - instrumentation/**/*.hrl
  - instrumentation/**/rebar.config
  - propagators/**/*.erl
  - propagators/**/*.hrl
  - propagators/**/rebar.config
  - exporters/**/*.erl
  - exporters/**/*.hrl
  - exporters/**/rebar.config
  - examples/**/*.erl
  - examples/**/*.hrl
  - examples/**/rebar.config

instrumentation:
  - instrumentation/**/*

propagators:
  - propagators/**/*

examples:
  - examples/**/*

scope-ci:
  - .github/workflows/**

opentelemetry_phoenix:
  - instrumentation/opentelemetry_phoenix/**/*
