Repository open-telemetry/opentelemetry-erlang-contrib, changes with the labels that .github/labeler.yml gives for each.
All labels: elixir, erlang, instrumentation, propagators, examples, utilities, scope-ci, opentelemetry_aws_xray, opentelemetry_cowboy, opentelemetry_dataloader, opentelemetry_ecto, opentelemetry_elli, opentelemetry_finch, opentelemetry_grpcbox, opentelemetry_httpoison, opentelemetry_instrumentation_http, opentelemetry_nebulex, opentelemetry_oban, opentelemetry_phoenix, opentelemetry_process_propagator, opentelemetry_redix, opentelemetry_req, opentelemetry_telemetry, opentelemetry_tesla

remove index.js which gets compiled by npm
  examples/roll_dice_elli/priv/static/index.js
Labels: examples

roll dice: use 127.0.0.1 for node name to work for everyone
  examples/roll_dice_elli/config/vm.args
Labels: examples

add roll dice example in Erlang with Elli (#177)
  examples/roll_dice_elli/.gitignore
  examples/roll_dice_elli/LICENSE
  examples/roll_dice_elli/README.md
  examples/roll_dice_elli/config/sys.config
  examples/roll_dice_elli/config/vm.args
  examples/roll_dice_elli/docker-compose.yml
  examples/roll_dice_elli/js/app.js
  examples/roll_dice_elli/otel-collector-config.yaml
  examples/roll_dice_elli/package-lock.json
  examples/roll_dice_elli/package.json
  examples/roll_dice_elli/priv/static/index_no_meta_tag.html
  examples/roll_dice_elli/rebar.config
  examples/roll_dice_elli/rebar.lock
  examples/roll_dice_elli/src/roll_dice.app.src
  examples/roll_dice_elli/src/roll_dice_app.erl
  examples/roll_dice_elli/src/roll_dice_handler.erl
  examples/roll_dice_elli/src/roll_dice_instruments.hrl
  examples/roll_dice_elli/src/roll_dice_sup.erl
Labels: erlang, examples

Format using Elixir 1.15.6
  propagators/opentelemetry_process_propagator/mix.exs
Labels: elixir, propagators, opentelemetry_process_propagator

Fixup doc version and typo
  instrumentation/opentelemetry_tesla/README.md
  instrumentation/opentelemetry_tesla/lib/middleware/opentelemetry_tesla_middleware.ex
Labels: elixir, instrumentation, opentelemetry_tesla

Fixup doc version and typo (#211)
  instrumentation/opentelemetry_tesla/README.md
  instrumentation/opentelemetry_tesla/lib/middleware/opentelemetry_tesla_middleware.ex
Labels: elixir, instrumentation, opentelemetry_tesla

Support only Elixir ~> 1.12
  .github/elixir-test-matrix.json
  propagators/opentelemetry_process_propagator/mix.exs
Labels: elixir, propagators, opentelemetry_process_propagator

Add oban measurements to span
  instrumentation/opentelemetry_oban/lib/opentelemetry_oban/job_handler.ex
  instrumentation/opentelemetry_tesla/README.md
  instrumentation/opentelemetry_tesla/lib/middleware/opentelemetry_tesla_middleware.ex
Labels: elixir, instrumentation, opentelemetry_oban, opentelemetry_tesla

Add back underscore
  instrumentation/opentelemetry_oban/lib/opentelemetry_oban/job_handler.ex
Labels: elixir, instrumentation, opentelemetry_oban

Tests
  instrumentation/opentelemetry_oban/lib/opentelemetry_oban/job_handler.ex
  instrumentation/opentelemetry_oban/mix.exs
  instrumentation/opentelemetry_oban/test/opentelemetry_oban_test.exs
Labels: elixir, instrumentation, opentelemetry_oban

changelog
  instrumentation/opentelemetry_oban/CHANGELOG.md
Labels: instrumentation, opentelemetry_oban

Add time units
  instrumentation/opentelemetry_oban/lib/opentelemetry_oban/job_handler.ex
  instrumentation/opentelemetry_oban/test/opentelemetry_oban_test.exs
Labels: elixir, instrumentation, opentelemetry_oban

Tesla 2.3.0
  instrumentation/opentelemetry_tesla/mix.exs
Labels: elixir, instrumentation, opentelemetry_tesla

make configurable
  instrumentation/opentelemetry_oban/lib/opentelemetry_oban.ex
  instrumentation/opentelemetry_oban/lib/opentelemetry_oban/job_handler.ex
  instrumentation/opentelemetry_oban/lib/opentelemetry_oban/plugin_handler.ex
  instrumentation/opentelemetry_oban/test/opentelemetry_oban/plugin_handler_test.exs
  instrumentation/opentelemetry_oban/test/opentelemetry_oban_test.exs
Labels: elixir, instrumentation, opentelemetry_oban

Tesla 2.3.0 (#213)
  instrumentation/opentelemetry_tesla/mix.exs
Labels: elixir, instrumentation, opentelemetry_tesla

Revert span name change to pre-1.18 spec
  instrumentation/opentelemetry_req/lib/opentelemetry_req.ex
Labels: elixir, instrumentation, opentelemetry_req

Revert span name change to pre-1.18 spec (#214)
  instrumentation/opentelemetry_req/lib/opentelemetry_req.ex
Labels: elixir, instrumentation, opentelemetry_req

opentelemetry_req: Don't assume `request.headers` shape
  instrumentation/opentelemetry_req/lib/opentelemetry_req.ex
  instrumentation/opentelemetry_req/mix.exs
  instrumentation/opentelemetry_req/mix.lock
  instrumentation/opentelemetry_req/test/opentelemetry_req_test.exs
Labels: elixir, instrumentation, opentelemetry_req

Update instrumentation/opentelemetry_req/test/opentelemetry_req_test.exs
  instrumentation/opentelemetry_req/test/opentelemetry_req_test.exs
Labels: elixir, instrumentation, opentelemetry_req

opentelemetry_req: Don't assume `request.headers` shape (#193)
  instrumentation/opentelemetry_req/lib/opentelemetry_req.ex
  instrumentation/opentelemetry_req/mix.exs
  instrumentation/opentelemetry_req/mix.lock
  instrumentation/opentelemetry_req/test/opentelemetry_req_test.exs
Labels: elixir, instrumentation, opentelemetry_req

Forgot the paths don't support globs
  .github/release-drafter-templates/opentelemetry-aws-xray.yml
  .github/release-drafter-templates/opentelemetry-cowboy.yml
  .github/release-drafter-templates/opentelemetry-dataloader.yml
  .github/release-drafter-templates/opentelemetry-ecto.yml
  .github/release-drafter-templates/opentelemetry-elli.yml
  .github/release-drafter-templates/opentelemetry-finch.yml
  .github/release-drafter-templates/opentelemetry-grpcbox.yml
  .github/release-drafter-templates/opentelemetry-httpoison.yml
  .github/release-drafter-templates/opentelemetry-instrumentation-http.yml
  .github/release-drafter-templates/opentelemetry-nebulex.yml
  .github/release-drafter-templates/opentelemetry-oban.yml
  .github/release-drafter-templates/opentelemetry-phoenix.yml
  .github/release-drafter-templates/opentelemetry-process-propagator.yml
  .github/release-drafter-templates/opentelemetry-redix.yml
  .github/release-drafter-templates/opentelemetry-req.yml
  .github/release-drafter-templates/opentelemetry-telemetry.yml
  .github/release-drafter-templates/opentelemetry-tesla.yml
Labels: none

Forgot the paths don't support globs (#215)
  .github/release-drafter-templates/opentelemetry-aws-xray.yml
  .github/release-drafter-templates/opentelemetry-cowboy.yml
  .github/release-drafter-templates/opentelemetry-dataloader.yml
  .github/release-drafter-templates/opentelemetry-ecto.yml
  .github/release-drafter-templates/opentelemetry-elli.yml
  .github/release-drafter-templates/opentelemetry-finch.yml
  .github/release-drafter-templates/opentelemetry-grpcbox.yml
  .github/release-drafter-templates/opentelemetry-httpoison.yml
  .github/release-drafter-templates/opentelemetry-instrumentation-http.yml
  .github/release-drafter-templates/opentelemetry-nebulex.yml
  .github/release-drafter-templates/opentelemetry-oban.yml
  .github/release-drafter-templates/opentelemetry-phoenix.yml
  .github/release-drafter-templates/opentelemetry-process-propagator.yml
  .github/release-drafter-templates/opentelemetry-redix.yml
  .github/release-drafter-templates/opentelemetry-req.yml
  .github/release-drafter-templates/opentelemetry-telemetry.yml
  .github/release-drafter-templates/opentelemetry-tesla.yml
Labels: none

Create dependabot.yml
  .github/dependabot.yml
Labels: none

Add labels
  .github/dependabot.yml
Labels: none

Update dependabot.yml
  .github/dependabot.yml
Labels: none

formatting
  .github/dependabot.yml
Labels: none

Formatting again
  .github/dependabot.yml
Labels: none

Fix tiny typos
  propagators/opentelemetry_process_propagator/lib/opentelemetry_process_propagator.ex
Labels: elixir, propagators, opentelemetry_process_propagator

adds /api/rolldice endpoint and opentelemetry configuration
  examples/roll_dice/README.md
  examples/roll_dice/config/runtime.exs
  examples/roll_dice/docker-compose.yml
  examples/roll_dice/lib/roll_dice/application.ex
  examples/roll_dice/lib/roll_dice_web/controllers/dice_controller.ex
  examples/roll_dice/lib/roll_dice_web/router.ex
  examples/roll_dice/mix.exs
  examples/roll_dice/mix.lock
  examples/roll_dice/otel-collector-config.yaml
Labels: elixir, examples

generate a phoenix API only project
  examples/roll_dice/.formatter.exs
  examples/roll_dice/.gitignore
  examples/roll_dice/README.md
  examples/roll_dice/config/config.exs
  examples/roll_dice/config/dev.exs
  examples/roll_dice/config/prod.exs
  examples/roll_dice/config/runtime.exs
  examples/roll_dice/config/test.exs
  examples/roll_dice/lib/roll_dice.ex
  examples/roll_dice/lib/roll_dice/application.ex
  examples/roll_dice/lib/roll_dice_web.ex
  examples/roll_dice/lib/roll_dice_web/controllers/error_json.ex
  examples/roll_dice/lib/roll_dice_web/endpoint.ex
  examples/roll_dice/lib/roll_dice_web/gettext.ex
  examples/roll_dice/lib/roll_dice_web/router.ex
  examples/roll_dice/lib/roll_dice_web/telemetry.ex
  examples/roll_dice/mix.exs
  examples/roll_dice/mix.lock
  examples/roll_dice/priv/gettext/en/LC_MESSAGES/errors.po
  examples/roll_dice/priv/gettext/errors.pot
  examples/roll_dice/priv/static/favicon.ico
  examples/roll_dice/priv/static/robots.txt
  examples/roll_dice/test/roll_dice_web/controllers/error_json_test.exs
  examples/roll_dice/test/support/conn_case.ex
  examples/roll_dice/test/test_helper.exs
Labels: elixir, examples

change span attribute name to match implementations in other langs
  examples/roll_dice/README.md
  examples/roll_dice/lib/roll_dice_web/controllers/dice_controller.ex
Labels: elixir, examples

Fix tiny typos (#219)
  propagators/opentelemetry_process_propagator/lib/opentelemetry_process_propagator.ex
Labels: elixir, propagators, opentelemetry_process_propagator

Fix documentation example for OpentelemetryProcessPropagator
  propagators/opentelemetry_process_propagator/lib/opentelemetry_process_propagator.ex
Labels: elixir, propagators, opentelemetry_process_propagator

Fix documentation example for OpentelemetryProcessPropagator (#220)
  propagators/opentelemetry_process_propagator/lib/opentelemetry_process_propagator.ex
Labels: elixir, propagators, opentelemetry_process_propagator

Revert "make configurable"
  instrumentation/opentelemetry_oban/lib/opentelemetry_oban.ex
  instrumentation/opentelemetry_oban/lib/opentelemetry_oban/job_handler.ex
  instrumentation/opentelemetry_oban/lib/opentelemetry_oban/plugin_handler.ex
  instrumentation/opentelemetry_oban/test/opentelemetry_oban/plugin_handler_test.exs
  instrumentation/opentelemetry_oban/test/opentelemetry_oban_test.exs
Labels: elixir, instrumentation, opentelemetry_oban

Dice game example (#173)
  examples/roll_dice/.formatter.exs
  examples/roll_dice/.gitignore
  examples/roll_dice/README.md
  examples/roll_dice/config/config.exs
  examples/roll_dice/config/dev.exs
  examples/roll_dice/config/prod.exs
  examples/roll_dice/config/runtime.exs
  examples/roll_dice/config/test.exs
  examples/roll_dice/docker-compose.yml
  examples/roll_dice/lib/roll_dice.ex
  examples/roll_dice/lib/roll_dice/application.ex
  examples/roll_dice/lib/roll_dice_web.ex
  examples/roll_dice/lib/roll_dice_web/controllers/dice_controller.ex
  examples/roll_dice/lib/roll_dice_web/controllers/error_json.ex
  examples/roll_dice/lib/roll_dice_web/endpoint.ex
  examples/roll_dice/lib/roll_dice_web/gettext.ex
  examples/roll_dice/lib/roll_dice_web/router.ex
  examples/roll_dice/lib/roll_dice_web/telemetry.ex
  examples/roll_dice/mix.exs
  examples/roll_dice/mix.lock
  examples/roll_dice/otel-collector-config.yaml
  examples/roll_dice/priv/gettext/en/LC_MESSAGES/errors.po
  examples/roll_dice/priv/gettext/errors.pot
  examples/roll_dice/priv/static/favicon.ico
  examples/roll_dice/priv/static/robots.txt
  examples/roll_dice/test/roll_dice_web/controllers/error_json_test.exs
  examples/roll_dice/test/support/conn_case.ex
  examples/roll_dice/test/test_helper.exs
Labels: elixir, examples

Create repository-settings.md
  .github/repository-settings.md
Labels: none

Update Req deps
  instrumentation/opentelemetry_req/mix.lock
Labels: elixir, instrumentation, opentelemetry_req

Update Req deps (#216)
  instrumentation/opentelemetry_req/mix.lock
Labels: elixir, instrumentation, opentelemetry_req

Update Oban's README.md
  instrumentation/opentelemetry_oban/README.md
Labels: instrumentation, opentelemetry_oban

.github/labeler.yml:

elixir:
  - instrumentation/**/*.ex
  - instrumentation/**/*.exs
  - instrumentation/**/mix.lock
  - propagators/**/*.ex
  - propagators/**/*.exs
  - propagators/**/mix.lock
  - exporters/**/*.ex
  - exporters/**/*.exs
  - exporters/**/mix.lock
  - examples/**/*.ex
  - examples/**/*.exs
  - examples/**/mix.lock
  - utilities/**/*.ex
  - utilities/**/*.exs
  - utilities/**/mix.lock

erlang:
  - instrumentation/**/*.erl
  - instrumentation/**/*.hrl
  - instrumentation/**/rebar.*
  - propagators/**/*.erl
  - propagators/**/*.hrl
  - propagators/**/rebar.*
  - exporters/**/*.erl
  - exporters/**/*.hrl
  - exporters/**/rebar.*
  - examples/**/*.erl
  - examples/**/*.hrl
  - examples/**/rebar.*
  - utilities/**/*.erl
  - utilities/**/*.hrl
  - utilities/**/rebar.*

instrumentation:
  - instrumentation/**/*

propagators:
  - propagators/**/*

examples:
  - examples/**/*

utilities:
  - utilities/**/*

scope-ci:
  - .github/workflows/**

opentelemetry_aws_xray:
  - utilities/opentelemetry_aws_xray/**/*

opentelemetry_cowboy:
  - instrumentation/opentelemetry_cowboy/**/*

opentelemetry_dataloader:
  - instrumentation/opentelemetry_dataloader/**/*

opentelemetry_ecto:
  - instrumentation/opentelemetry_ecto/**/*

opentelemetry_elli:
  - instrumentation/opentelemetry_elli/**/*

opentelemetry_finch:
  - instrumentation/opentelemetry_finch/**/*

opentelemetry_grpcbox:
  - instrumentation/opentelemetry_grpcbox/**/*

opentelemetry_httpoison:
  - instrumentation/opentelemetry_httpoison/**/*

opentelemetry_instrumentation_http:
  - utilities/opentelemetry_instrumentation_http/**/*

opentelemetry_nebulex:
  - instrumentation/opentelemetry_nebulex/**/*

opentelemetry_oban:
  - instrumentation/opentelemetry_oban/**/*

opentelemetry_phoenix:
  - instrumentation/opentelemetry_phoenix/**/*

opentelemetry_process_propagator:
  - propagators/opentelemetry_process_propagator/**/*

opentelemetry_redix:
  - instrumentation/opentelemetry_redix/**/*

opentelemetry_req:
  - instrumentation/opentelemetry_req/**/*

opentelemetry_telemetry:
  - utilities/opentelemetry_telemetry/**/*

opentelemetry_tesla:
  - instrumentation/opentelemetry_tesla/**/*
