Repository open-telemetry/opentelemetry-erlang-contrib, pull requests merged in 2021-11, with the labels that each got.

#40 inspect terms that otherwise can't be serialized by exporter
  instrumentation/opentelemetry_phoenix/lib/opentelemetry_phoenix/reason.ex
  instrumentation/opentelemetry_phoenix/test/opentelemetry_phoenix_test.exs
Labels: opentelemetry_phoenix, elixir, instrumentation, scope-ci

#42 Rename opentelemetry_phoenix attribute from http.status to http.status_code
  instrumentation/opentelemetry_phoenix/lib/opentelemetry_phoenix.ex
  instrumentation/opentelemetry_phoenix/test/opentelemetry_phoenix_test.exs
Labels: opentelemetry_phoenix, elixir, instrumentation

#38 Set opentelemetry_ecto span kind to CLIENT
  instrumentation/opentelemetry_ecto/lib/opentelemetry_ecto.ex
  instrumentation/opentelemetry_ecto/test/opentelemetry_ecto_test.exs
Labels: elixir, instrumentation, opentelemetry_ecto

#41 Set error status for ecto errors in opentelemetry_ecto
  instrumentation/opentelemetry_ecto/lib/opentelemetry_ecto.ex
  instrumentation/opentelemetry_ecto/test/opentelemetry_ecto_test.exs
Labels: elixir, instrumentation, opentelemetry_ecto

#31 Port example from opentelemetry-examples
  examples/basic_elixir/.dockerignore
  examples/basic_elixir/.formatter.exs
  examples/basic_elixir/.gitignore
  examples/basic_elixir/Dockerfile
  examples/basic_elixir/README.md
  examples/basic_elixir/config/releases.exs
  examples/basic_elixir/docker-compose.yml
  examples/basic_elixir/lib/basic_elixir.ex
  examples/basic_elixir/lib/basic_elixir/application.ex
  examples/basic_elixir/lib/basic_elixir/worker.ex
  examples/basic_elixir/mix.exs
  examples/basic_elixir/mix.lock
  examples/basic_elixir/otel-collector-config.yaml
  examples/basic_elixir/test/basic_elixir_test.exs
  examples/basic_elixir/test/test_helper.exs
Labels: elixir, examples

#45 Avoid syntax error for insecure key
  examples/basic_elixir/otel-collector-config.yaml
Labels: examples

#43 Migrate otel_telemetry to contrib
  .github/labeler.yml
  .github/workflows/elixir.yml
  .github/workflows/erlang.yml
  CODEOWNERS
  utilities/opentelemetry_telemetry/.formatter.exs
  utilities/opentelemetry_telemetry/.gitignore
  utilities/opentelemetry_telemetry/CHANGELOG.md
  utilities/opentelemetry_telemetry/LICENSE
  utilities/opentelemetry_telemetry/README.md
  utilities/opentelemetry_telemetry/VERSION
  utilities/opentelemetry_telemetry/_checkouts/test_app/.gitignore
  utilities/opentelemetry_telemetry/_checkouts/test_app/LICENSE
  utilities/opentelemetry_telemetry/_checkouts/test_app/README.md
  utilities/opentelemetry_telemetry/_checkouts/test_app/rebar.config
  utilities/opentelemetry_telemetry/_checkouts/test_app/rebar.lock
  utilities/opentelemetry_telemetry/_checkouts/test_app/src/test_app.app.src
  utilities/opentelemetry_telemetry/_checkouts/test_app/src/test_app.erl
  utilities/opentelemetry_telemetry/_checkouts/test_app/src/test_app_app.erl
  utilities/opentelemetry_telemetry/_checkouts/test_app/src/test_app_sup.erl
  utilities/opentelemetry_telemetry/_checkouts/test_child_app/.gitignore
  utilities/opentelemetry_telemetry/_checkouts/test_child_app/LICENSE
  utilities/opentelemetry_telemetry/_checkouts/test_child_app/README.md
  utilities/opentelemetry_telemetry/_checkouts/test_child_app/rebar.config
  utilities/opentelemetry_telemetry/_checkouts/test_child_app/rebar.lock
  utilities/opentelemetry_telemetry/_checkouts/test_child_app/src/test_child_app.app.src
  utilities/opentelemetry_telemetry/_checkouts/test_child_app/src/test_child_app.erl
  utilities/opentelemetry_telemetry/_checkouts/test_child_app/src/test_child_app_app.erl
  utilities/opentelemetry_telemetry/_checkouts/test_child_app/src/test_child_app_sup.erl
  utilities/opentelemetry_telemetry/lib/opentelemetry_telemetry.ex
  utilities/opentelemetry_telemetry/mix.exs
  utilities/opentelemetry_telemetry/mix.lock
  utilities/opentelemetry_telemetry/rebar.config
  utilities/opentelemetry_telemetry/rebar.lock
  utilities/opentelemetry_telemetry/src/opentelemetry_telemetry.app.src
  utilities/opentelemetry_telemetry/src/otel_telemetry.erl
  utilities/opentelemetry_telemetry/test/opentelemetry_telemetry_test.exs
  utilities/opentelemetry_telemetry/test/otel_telemetry_SUITE.erl
  utilities/opentelemetry_telemetry/test/test_helper.exs
Labels: scope-ci, opentelemetry_telemetry

#46 Fix compilation warning on otel_telemetry
  utilities/opentelemetry_telemetry/src/otel_telemetry.erl
Labels: erlang, opentelemetry_telemetry, utilities
