Repository open-telemetry/opentelemetry-erlang-contrib, pull requests merged in 2021-12, with the labels that each got.

#6 Add opentelemetry integration to Oban
  .github/labeler.yml
  .github/workflows/elixir.yml
  CODEOWNERS
  instrumentation/opentelemetry_oban/.formatter.exs
  instrumentation/opentelemetry_oban/.gitignore
  instrumentation/opentelemetry_oban/.tool-versions
  instrumentation/opentelemetry_oban/CHANGELOG.md
  instrumentation/opentelemetry_oban/LICENSE
  instrumentation/opentelemetry_oban/README.md
  instrumentation/opentelemetry_oban/lib/opentelemetry_oban.ex
  instrumentation/opentelemetry_oban/lib/opentelemetry_oban/job_handler.ex
  instrumentation/opentelemetry_oban/lib/opentelemetry_oban/plugin_handler.ex
  instrumentation/opentelemetry_oban/mix.exs
  instrumentation/opentelemetry_oban/mix.lock
  instrumentation/opentelemetry_oban/test/opentelemetry_oban/plugin_handler_test.exs
  instrumentation/opentelemetry_oban/test/opentelemetry_oban_test.exs
  instrumentation/opentelemetry_oban/test/support/data_case.ex
  instrumentation/opentelemetry_oban/test/support/test_repo.ex
  instrumentation/opentelemetry_oban/test/test_helper.exs
Labels: elixir, instrumentation, scope-ci, opentelemetry_oban

#52 Set phoenix attributes on span creation
  instrumentation/opentelemetry_phoenix/lib/opentelemetry_phoenix.ex
Labels: opentelemetry_phoenix, elixir, instrumentation, scope-ci

#55 Add elixir 1.13 to matrix; drop OTP 21 support
  .github/elixir-test-matrix.json
  .github/erlang-test-matrix.json
  .github/workflows/elixir.yml
  .github/workflows/erlang.yml
Labels: opentelemetry_phoenix, elixir, instrumentation, scope-ci, opentelemetry_ecto, opentelemetry_cowboy, erlang, opentelemetry_oban, opentelemetry_telemetry, utilities
