Repository open-telemetry/opentelemetry-erlang-contrib, pull requests merged in 2022-11, with the labels that each got.

#116 Add server span kind to otel cowboy
  instrumentation/opentelemetry_cowboy/rebar.lock
  instrumentation/opentelemetry_cowboy/src/opentelemetry_cowboy.erl
  instrumentation/opentelemetry_cowboy/test/opentelemetry_cowboy_SUITE.erl
Labels: instrumentation, opentelemetry_cowboy, erlang

#119 chore: add semantic conventions pgk to redix
  instrumentation/opentelemetry_redix/lib/opentelemetry_redix.ex
Labels: elixir, instrumentation, opentelemetry_redix

#122 fix: missing deps in redix
  instrumentation/opentelemetry_redix/mix.exs
  instrumentation/opentelemetry_redix/mix.lock
Labels: elixir, instrumentation, opentelemetry_redix

#113 Fix Tesla's test nam
  .github/workflows/elixir.yml
Labels: scope-ci

#125 Fix CI errors, update GHA deps, update versions
  .formatter.exs
  .github/elixir-test-matrix.json
  .github/erlang-test-matrix.json
  .github/workflows/elixir.yml
  .github/workflows/erlang.yml
  instrumentation/opentelemetry_finch/lib/opentelemetry_finch.ex
  instrumentation/opentelemetry_finch/test/opentelemetry_finch_test.exs
  instrumentation/opentelemetry_tesla/.formatter.exs
  instrumentation/opentelemetry_tesla/test/middleware/opentelemetry_tesla_middleware_test.exs
Labels: opentelemetry_phoenix, elixir, instrumentation, scope-ci, opentelemetry_ecto, opentelemetry_cowboy, erlang, opentelemetry_redix, opentelemetry_oban, opentelemetry_telemetry, utilities, propagators, opentelemetry_process_propagator, opentelemetry_tesla, opentelemetry_aws_xray, opentelemetry_finch

#123 chore: ran formatter
  examples/basic_phoenix_ecto/config/runtime.exs
  examples/basic_phoenix_ecto/lib/demo_web/router.ex
  examples/basic_phoenix_ecto/mix.exs
Labels: elixir, examples

#118 chore: add semantic conventions pkg to tesla
  instrumentation/opentelemetry_tesla/lib/middleware/opentelemetry_tesla_middleware.ex
  instrumentation/opentelemetry_tesla/mix.exs
  instrumentation/opentelemetry_tesla/mix.lock
Labels: elixir, instrumentation, opentelemetry_tesla

#126 update elixir package deps
  instrumentation/opentelemetry_ecto/mix.exs
  instrumentation/opentelemetry_ecto/mix.lock
  instrumentation/opentelemetry_finch/mix.lock
  instrumentation/opentelemetry_oban/mix.lock
  instrumentation/opentelemetry_oban/test/opentelemetry_oban_test.exs
  instrumentation/opentelemetry_oban/test/test_helper.exs
  instrumentation/opentelemetry_phoenix/mix.lock
  instrumentation/opentelemetry_redix/mix.exs
  instrumentation/opentelemetry_redix/mix.lock
  instrumentation/opentelemetry_tesla/mix.lock
  propagators/opentelemetry_process_propagator/mix.exs
  propagators/opentelemetry_process_propagator/mix.lock
  utilities/opentelemetry_telemetry/mix.exs
  utilities/opentelemetry_telemetry/mix.lock
Labels: opentelemetry_phoenix, elixir, instrumentation, opentelemetry_ecto, opentelemetry_redix, opentelemetry_oban, opentelemetry_telemetry, utilities, propagators, opentelemetry_process_propagator, opentelemetry_tesla, opentelemetry_finch

#82 Fix two use cases of Ecto span propagation
  instrumentation/opentelemetry_ecto/lib/opentelemetry_ecto.ex
  instrumentation/opentelemetry_ecto/test/opentelemetry_ecto_test.exs
  instrumentation/opentelemetry_ecto/test/test_helper.exs
Labels: elixir, instrumentation, opentelemetry_ecto

#127 publish latest updates
  instrumentation/opentelemetry_ecto/CHANGELOG.md
  instrumentation/opentelemetry_ecto/mix.exs
  instrumentation/opentelemetry_oban/CHANGELOG.md
  instrumentation/opentelemetry_oban/mix.exs
  propagators/opentelemetry_process_propagator/CHANGELOG.md
  propagators/opentelemetry_process_propagator/src/opentelemetry_process_propagator.app.src
Labels: elixir, instrumentation, opentelemetry_ecto, opentelemetry_oban, propagators, opentelemetry_process_propagator
