Repository open-telemetry/opentelemetry-erlang-contrib, pull requests merged in 2022-03, with the labels that each got.

#66 Add idle_time measurement to opentelemetry_ecto
  instrumentation/opentelemetry_ecto/lib/opentelemetry_ecto.ex
Labels: elixir, instrumentation, opentelemetry_ecto

#37 Only attempt to record an exception if there is an active span.
  instrumentation/opentelemetry_phoenix/lib/opentelemetry_phoenix.ex
  instrumentation/opentelemetry_phoenix/test/opentelemetry_phoenix_test.exs
Labels: opentelemetry_phoenix, elixir, instrumentation

#48 Handle binary and undefined response status and rename http.status to http.status_code in `opentelemetry-cowboy`
  instrumentation/opentelemetry_cowboy/src/opentelemetry_cowboy.erl
  instrumentation/opentelemetry_cowboy/test/opentelemetry_cowboy_SUITE.erl
  instrumentation/opentelemetry_cowboy/test/test_h.erl
Labels: instrumentation, opentelemetry_cowboy, erlang

#64 Process propagator library
  .github/labeler.yml
  .github/workflows/elixir.yml
  propagators/opentelemetry_process_propagator/.formatter.exs
  propagators/opentelemetry_process_propagator/.gitignore
  propagators/opentelemetry_process_propagator/LICENSE
  propagators/opentelemetry_process_propagator/README.md
  propagators/opentelemetry_process_propagator/lib/opentelemetry_process_propagator.ex
  propagators/opentelemetry_process_propagator/mix.exs
  propagators/opentelemetry_process_propagator/mix.lock
  propagators/opentelemetry_process_propagator/rebar.config
  propagators/opentelemetry_process_propagator/rebar.lock
  propagators/opentelemetry_process_propagator/src/opentelemetry_process_propagator.app.src
  propagators/opentelemetry_process_propagator/src/opentelemetry_process_propagator.erl
  propagators/opentelemetry_process_propagator/test/opentelemetry_process_propagator_test.exs
  propagators/opentelemetry_process_propagator/test/test_helper.exs
Labels: elixir, scope-ci, erlang, propagators, opentelemetry_process_propagator

#44 Remove exporter race-condition on tests
  instrumentation/opentelemetry_ecto/config/test.exs
  instrumentation/opentelemetry_ecto/test/opentelemetry_ecto_test.exs
  instrumentation/opentelemetry_phoenix/config/test.exs
  instrumentation/opentelemetry_phoenix/test/opentelemetry_phoenix_test.exs
Labels: opentelemetry_phoenix, elixir, instrumentation, opentelemetry_ecto

#49 Make Ecto spans of preloads children of the parent span
  instrumentation/opentelemetry_ecto/config/test.exs
  instrumentation/opentelemetry_ecto/lib/opentelemetry_ecto.ex
  instrumentation/opentelemetry_ecto/mix.exs
  instrumentation/opentelemetry_ecto/mix.lock
  instrumentation/opentelemetry_ecto/priv/test_repo/migrations/1_setup_tables.exs
  instrumentation/opentelemetry_ecto/test/opentelemetry_ecto_test.exs
  instrumentation/opentelemetry_ecto/test/support/models/comment.ex
  instrumentation/opentelemetry_ecto/test/support/models/user.ex
Labels: elixir, instrumentation, opentelemetry_ecto

#73 v0.1.0
  propagators/opentelemetry_process_propagator/.gitignore
  propagators/opentelemetry_process_propagator/mix.exs
  propagators/opentelemetry_process_propagator/mix.lock
  propagators/opentelemetry_process_propagator/src/opentelemetry_process_propagator.app.src
Labels: elixir, propagators, opentelemetry_process_propagator

#69 elli instrumentation library
  instrumentation/opentelemetry_elli/LICENSE
  instrumentation/opentelemetry_elli/README.md
  instrumentation/opentelemetry_elli/rebar.config
  instrumentation/opentelemetry_elli/rebar.lock
  instrumentation/opentelemetry_elli/src/opentelemetry_elli.app.src
  instrumentation/opentelemetry_elli/src/otel_elli.erl
  instrumentation/opentelemetry_elli/src/otel_elli_middleware.erl
  instrumentation/opentelemetry_elli/test/otel_elli_SUITE.erl
Labels: instrumentation, erlang

#70 add grpcbox instrumentation library
  instrumentation/opentelemetry_grpcbox/.gitignore
  instrumentation/opentelemetry_grpcbox/LICENSE
  instrumentation/opentelemetry_grpcbox/README.md
  instrumentation/opentelemetry_grpcbox/rebar.config
  instrumentation/opentelemetry_grpcbox/rebar.lock
  instrumentation/opentelemetry_grpcbox/src/opentelemetry_grpcbox.app.src
  instrumentation/opentelemetry_grpcbox/src/otel_grpcbox_interceptor.erl
  instrumentation/opentelemetry_grpcbox/test/otel_interceptor_SUITE.erl
  instrumentation/opentelemetry_grpcbox/test/otel_interceptor_SUITE_data/route_guide.proto
  instrumentation/opentelemetry_grpcbox/test/otel_interceptor_SUITE_data/route_guide_db.json
  instrumentation/opentelemetry_grpcbox/test/route_guide_pb.erl
  instrumentation/opentelemetry_grpcbox/test/routeguide_route_guide.erl
  instrumentation/opentelemetry_grpcbox/test/routeguide_route_guide_bhvr.erl
  instrumentation/opentelemetry_grpcbox/test/routeguide_route_guide_client.erl
Labels: instrumentation, erlang

#74 bump otel-elli version number
  instrumentation/opentelemetry_elli/src/opentelemetry_elli.app.src
Labels: instrumentation

#75 Bump dependencies and relax opentelemetry* to 1.0
  instrumentation/opentelemetry_redix/mix.exs
  instrumentation/opentelemetry_redix/mix.lock
Labels: elixir, instrumentation, opentelemetry_redix
