Repository open-telemetry/opentelemetry-erlang-contrib, pull requests merged in 2022-08, with the labels that each got.

#90 Add otel tesla library
  .github/labeler.yml
  .github/workflows/elixir.yml
  CODEOWNERS
  instrumentation/opentelemetry_tesla/LICENSE
  instrumentation/opentelemetry_tesla/README.md
  instrumentation/opentelemetry_tesla/lib/middleware/opentelemetry_tesla_middleware.ex
  instrumentation/opentelemetry_tesla/mix.exs
  instrumentation/opentelemetry_tesla/mix.lock
  instrumentation/opentelemetry_tesla/test/middleware/opentelemetry_tesla_middleware_test.exs
  instrumentation/opentelemetry_tesla/test/test_helper.exs
Labels: elixir, instrumentation, scope-ci

#80 Conveniences for Tasks
  propagators/opentelemetry_process_propagator/lib/task.ex
  propagators/opentelemetry_process_propagator/lib/task/supervisor.ex
  propagators/opentelemetry_process_propagator/lib/task/wrapper.ex
  propagators/opentelemetry_process_propagator/mix.exs
  propagators/opentelemetry_process_propagator/mix.lock
  propagators/opentelemetry_process_propagator/test/task_supervisor_test.exs
  propagators/opentelemetry_process_propagator/test/task_test.exs
Labels: elixir, propagators, opentelemetry_process_propagator

#103 Fix bug in OpentelemetryOban.insert_all/4
  instrumentation/opentelemetry_oban/lib/opentelemetry_oban.ex
  instrumentation/opentelemetry_oban/mix.exs
Labels: elixir, instrumentation, opentelemetry_oban
