Repository open-telemetry/opentelemetry-erlang-contrib, pull requests merged in 2022-10, with the labels that each got.

#105 [opentelemetry-tesla] add custom span name override as middleware opt
  instrumentation/opentelemetry_tesla/lib/middleware/opentelemetry_tesla_middleware.ex
  instrumentation/opentelemetry_tesla/test/middleware/opentelemetry_tesla_middleware_test.exs
  instrumentation/opentelemetry_tesla/test/test_helper.exs
Labels: elixir, instrumentation, opentelemetry_tesla

#112 Bump opentelemetry_tesla version
  instrumentation/opentelemetry_tesla/README.md
  instrumentation/opentelemetry_tesla/mix.exs
Labels: elixir, instrumentation, opentelemetry_tesla

#111 Publish process propagator v0.2.0
  propagators/opentelemetry_process_propagator/CHANGELOG.md
  propagators/opentelemetry_process_propagator/lib/task.ex
  propagators/opentelemetry_process_propagator/src/opentelemetry_process_propagator.app.src
Labels: elixir, propagators, opentelemetry_process_propagator

#114 Fix ctx return types for process_propagator functions
  propagators/opentelemetry_process_propagator/lib/opentelemetry_process_propagator.ex
  propagators/opentelemetry_process_propagator/src/opentelemetry_process_propagator.erl
Labels: elixir, erlang, propagators, opentelemetry_process_propagator
