Repository open-telemetry/opentelemetry-erlang-contrib, pull requests merged in 2022-01, with the labels that each got.

#53 Add plug dependency for opentelemetry_phoenix
  instrumentation/opentelemetry_phoenix/mix.exs
Labels: opentelemetry_phoenix, elixir, instrumentation

#29 Add opentelemetry integration to Redix
  .github/labeler.yml
  .github/workflows/elixir.yml
  CODEOWNERS
  instrumentation/opentelemetry_redix/.formatter.exs
  instrumentation/opentelemetry_redix/.gitignore
  instrumentation/opentelemetry_redix/CHANGELOG.md
  instrumentation/opentelemetry_redix/LICENSE
  instrumentation/opentelemetry_redix/README.md
  instrumentation/opentelemetry_redix/config/config.exs
  instrumentation/opentelemetry_redix/config/test.exs
  instrumentation/opentelemetry_redix/docker-compose.yml
  instrumentation/opentelemetry_redix/lib/opentelemetry_redix.ex
  instrumentation/opentelemetry_redix/lib/opentelemetry_redix/application.ex
  instrumentation/opentelemetry_redix/lib/opentelemetry_redix/command.ex
  instrumentation/opentelemetry_redix/lib/opentelemetry_redix/connection_tracker.ex
  instrumentation/opentelemetry_redix/mix.exs
  instrumentation/opentelemetry_redix/mix.lock
  instrumentation/opentelemetry_redix/test/opentelemetry_redix/command_test.exs
  instrumentation/opentelemetry_redix/test/opentelemetry_redix_test.exs
  instrumentation/opentelemetry_redix/test/test_helper.exs
Labels: elixir, instrumentation, scope-ci, opentelemetry_redix

#57 Otel 1.0 support
  examples/basic_elixir/mix.exs
  examples/basic_elixir/mix.lock
  instrumentation/opentelemetry_cowboy/CHANGELOG.md
  instrumentation/opentelemetry_cowboy/rebar.config
  instrumentation/opentelemetry_cowboy/rebar.lock
  instrumentation/opentelemetry_cowboy/src/opentelemetry_cowboy.app.src
  instrumentation/opentelemetry_ecto/CHANGELOG.md
  instrumentation/opentelemetry_ecto/mix.exs
  instrumentation/opentelemetry_ecto/mix.lock
  instrumentation/opentelemetry_oban/CHANGELOG.md
  instrumentation/opentelemetry_oban/mix.exs
  instrumentation/opentelemetry_oban/mix.lock
  instrumentation/opentelemetry_phoenix/CHANGELOG.md
  instrumentation/opentelemetry_phoenix/mix.exs
  instrumentation/opentelemetry_phoenix/mix.lock
  utilities/opentelemetry_telemetry/CHANGELOG.md
  utilities/opentelemetry_telemetry/VERSION
  utilities/opentelemetry_telemetry/mix.exs
  utilities/opentelemetry_telemetry/mix.lock
  utilities/opentelemetry_telemetry/rebar.config
  utilities/opentelemetry_telemetry/rebar.lock
Labels: opentelemetry_phoenix, elixir, instrumentation, scope-ci, opentelemetry_ecto, opentelemetry_cowboy, erlang, examples, opentelemetry_oban, opentelemetry_telemetry, utilities

#58 Update CI config for opentelemetry_redix
  .github/workflows/elixir.yml
Labels: scope-ci

#59 Do not attempt to end a span if ctx wasn't found
  utilities/opentelemetry_telemetry/CHANGELOG.md
  utilities/opentelemetry_telemetry/src/otel_telemetry.erl
Labels: scope-ci, erlang, opentelemetry_telemetry, utilities
