Repository open-telemetry/opentelemetry-erlang-contrib, pull requests merged in 2022-12, with the labels that each got.

#130 [grpcbox] add grpc conventions
  instrumentation/opentelemetry_grpcbox/rebar.config
  instrumentation/opentelemetry_grpcbox/rebar.lock
  instrumentation/opentelemetry_grpcbox/src/otel_grpcbox_interceptor.erl
Labels: instrumentation, erlang

#121 chore: add semantic conventions to phoenix
  instrumentation/opentelemetry_phoenix/lib/opentelemetry_phoenix.ex
  instrumentation/opentelemetry_phoenix/mix.exs
  instrumentation/opentelemetry_phoenix/mix.lock
  instrumentation/opentelemetry_phoenix/test/opentelemetry_phoenix_test.exs
Labels: opentelemetry_phoenix, elixir, instrumentation

#138 chore: add sc to oban
  instrumentation/opentelemetry_oban/lib/opentelemetry_oban.ex
  instrumentation/opentelemetry_oban/lib/opentelemetry_oban/job_handler.ex
  instrumentation/opentelemetry_oban/mix.exs
  instrumentation/opentelemetry_oban/mix.lock
Labels: elixir, instrumentation, opentelemetry_oban

#83 Add Nebulex instrumentation library
  .github/labeler.yml
  .github/workflows/elixir.yml
  CODEOWNERS
  instrumentation/opentelemetry_nebulex/.formatter.exs
  instrumentation/opentelemetry_nebulex/.gitignore
  instrumentation/opentelemetry_nebulex/CHANGELOG.md
  instrumentation/opentelemetry_nebulex/LICENSE
  instrumentation/opentelemetry_nebulex/README.md
  instrumentation/opentelemetry_nebulex/config/config.exs
  instrumentation/opentelemetry_nebulex/config/test.exs
  instrumentation/opentelemetry_nebulex/lib/opentelemetry_nebulex.ex
  instrumentation/opentelemetry_nebulex/mix.exs
  instrumentation/opentelemetry_nebulex/mix.lock
  instrumentation/opentelemetry_nebulex/test/opentelemetry_nebulex_test.exs
  instrumentation/opentelemetry_nebulex/test/test_helper.exs
Labels: elixir, instrumentation, scope-ci

#141 chore: add sc to finch
  instrumentation/opentelemetry_finch/lib/opentelemetry_finch.ex
  instrumentation/opentelemetry_finch/mix.exs
  instrumentation/opentelemetry_finch/mix.lock
Labels: elixir, instrumentation, opentelemetry_finch
