Repository open-telemetry/opentelemetry-erlang-contrib, pull requests merged in 2023-04, with the labels that each got.

#137 Add Dataloader instrumentation library
  .github/workflows/elixir.yml
  instrumentation/opentelemetry_dataloader/.formatter.exs
  instrumentation/opentelemetry_dataloader/.gitignore
  instrumentation/opentelemetry_dataloader/README.md
  instrumentation/opentelemetry_dataloader/config/config.exs
  instrumentation/opentelemetry_dataloader/config/test.exs
  instrumentation/opentelemetry_dataloader/docker-compose.yml
  instrumentation/opentelemetry_dataloader/lib/opentelemetry_dataloader.ex
  instrumentation/opentelemetry_dataloader/mix.exs
  instrumentation/opentelemetry_dataloader/mix.lock
  instrumentation/opentelemetry_dataloader/priv/test_repo/migrations/1_setup_tables.exs
  instrumentation/opentelemetry_dataloader/test/opentelemetry_dataloader_test.exs
  instrumentation/opentelemetry_dataloader/test/support/models/post.ex
  instrumentation/opentelemetry_dataloader/test/support/test_repo.ex
  instrumentation/opentelemetry_dataloader/test/test_helper.exs
Labels: elixir, instrumentation, scope-ci

#163 Improve Req with OTel http spec
  instrumentation/opentelemetry_req/CHANGELOG.md
  instrumentation/opentelemetry_req/lib/opentelemetry_req.ex
Labels: elixir, instrumentation, opentelemetry_req

#154 [Tesla middleware] `non_error_statuses` option
  instrumentation/opentelemetry_tesla/lib/middleware/opentelemetry_tesla_middleware.ex
  instrumentation/opentelemetry_tesla/test/middleware/opentelemetry_tesla_middleware_test.exs
Labels: elixir, instrumentation, opentelemetry_tesla

#168 Add source_url_pattern to enable linking to source
  instrumentation/opentelemetry_dataloader/mix.exs
  instrumentation/opentelemetry_ecto/mix.exs
  instrumentation/opentelemetry_finch/mix.exs
  instrumentation/opentelemetry_nebulex/mix.exs
  instrumentation/opentelemetry_oban/mix.exs
  instrumentation/opentelemetry_phoenix/mix.exs
  instrumentation/opentelemetry_redix/mix.exs
  instrumentation/opentelemetry_req/mix.exs
  instrumentation/opentelemetry_tesla/README.md
  instrumentation/opentelemetry_tesla/mix.exs
Labels: opentelemetry_phoenix, elixir, instrumentation, opentelemetry_ecto, opentelemetry_redix, opentelemetry_oban, opentelemetry_tesla, opentelemetry_finch, opentelemetry_nebulex, opentelemetry_req
