Repository open-telemetry/opentelemetry-erlang-contrib, pull requests merged in 2023-08, with the labels that each got.

#192 opentelemetry_req: Don't assume `request.options` is a map
  instrumentation/opentelemetry_req/lib/opentelemetry_req.ex
Labels: elixir, instrumentation, opentelemetry_req

#196 Relax Req's elixir version
  instrumentation/opentelemetry_req/mix.exs
Labels: elixir, instrumentation, scope-ci, opentelemetry_req

#198 Trace Liveview in Phoenix instrumentation
  instrumentation/opentelemetry_phoenix/lib/opentelemetry_phoenix.ex
Labels: opentelemetry_phoenix, elixir, instrumentation

#188 Improve test matrix and add support for Elixir 1.15 and OTP 26
  .github/elixir-test-matrix.json
  .github/erlang-test-matrix.json
  .github/workflows/elixir.yml
  .github/workflows/erlang.yml
  instrumentation/opentelemetry_dataloader/mix.lock
  instrumentation/opentelemetry_ecto/lib/opentelemetry_ecto.ex
  instrumentation/opentelemetry_ecto/mix.lock
  instrumentation/opentelemetry_finch/mix.lock
  instrumentation/opentelemetry_httpoison/mix.lock
  instrumentation/opentelemetry_httpoison/test/opentelemetry_httpoison_test.exs
  instrumentation/opentelemetry_nebulex/mix.lock
  instrumentation/opentelemetry_oban/mix.lock
  instrumentation/opentelemetry_oban/test/opentelemetry_oban/plugin_handler_test.exs
  instrumentation/opentelemetry_oban/test/opentelemetry_oban_test.exs
  instrumentation/opentelemetry_phoenix/lib/opentelemetry_phoenix.ex
  instrumentation/opentelemetry_phoenix/mix.lock
  instrumentation/opentelemetry_phoenix/test/opentelemetry_phoenix_test.exs
  instrumentation/opentelemetry_phoenix/test/support/phoenix_meta.ex
  instrumentation/opentelemetry_redix/mix.lock
  instrumentation/opentelemetry_tesla/test/middleware/opentelemetry_tesla_middleware_test.exs
  propagators/opentelemetry_process_propagator/lib/task.ex
  propagators/opentelemetry_process_propagator/lib/task/supervisor.ex
  propagators/opentelemetry_process_propagator/mix.exs
  propagators/opentelemetry_process_propagator/mix.lock
  utilities/opentelemetry_telemetry/mix.exs
  utilities/opentelemetry_telemetry/mix.lock
Labels: opentelemetry_phoenix, elixir, instrumentation, scope-ci, opentelemetry_ecto, opentelemetry_redix, opentelemetry_oban, opentelemetry_telemetry, utilities, propagators, opentelemetry_process_propagator, opentelemetry_tesla, opentelemetry_aws_xray, opentelemetry_finch, opentelemetry_nebulex
