Repository open-telemetry/opentelemetry-erlang-contrib, pull requests merged in 2023-06, with the labels that each got.

#148 Add telepoison
  .github/workflows/elixir.yml
  instrumentation/opentelemetry_httpoison/.credo.exs
  instrumentation/opentelemetry_httpoison/.formatter.exs
  instrumentation/opentelemetry_httpoison/README.md
  instrumentation/opentelemetry_httpoison/config/config.exs
  instrumentation/opentelemetry_httpoison/config/test.exs
  instrumentation/opentelemetry_httpoison/lib/configuration.ex
  instrumentation/opentelemetry_httpoison/lib/opentelemetry_httpoison.ex
  instrumentation/opentelemetry_httpoison/lib/uri.ex
  instrumentation/opentelemetry_httpoison/mix.exs
  instrumentation/opentelemetry_httpoison/mix.lock
  instrumentation/opentelemetry_httpoison/test/configuration_test.exs
  instrumentation/opentelemetry_httpoison/test/opentelemetry_httpoison_test.exs
  instrumentation/opentelemetry_httpoison/test/test_case.ex
  instrumentation/opentelemetry_httpoison/test/test_helper.exs
  instrumentation/opentelemetry_httpoison/test/uri_test.exs
Labels: elixir, instrumentation, scope-ci

#178 Post-PR opentelemetry_httpoison fixup
  CODEOWNERS
  instrumentation/opentelemetry_httpoison/CHANGELOG.md
  instrumentation/opentelemetry_httpoison/LICENSE
  instrumentation/opentelemetry_httpoison/README.md
  instrumentation/opentelemetry_httpoison/mix.exs
Labels: elixir, instrumentation

#166 Don't record DB statements without sanitizaiton
  instrumentation/opentelemetry_ecto/lib/opentelemetry_ecto.ex
  instrumentation/opentelemetry_ecto/test/opentelemetry_ecto_test.exs
Labels: elixir, instrumentation, opentelemetry_ecto

#181 bump opentelemetry_phoenix to 1.1.1
  instrumentation/opentelemetry_phoenix/CHANGELOG.md
  instrumentation/opentelemetry_phoenix/mix.exs
Labels: opentelemetry_phoenix, elixir, instrumentation
