Repository open-telemetry/opentelemetry-erlang-contrib, pull requests merged in 2023-03, with the labels that each got.

#153 Tesla.Middleware.OpenTelemetry: handle 400 as error
  instrumentation/opentelemetry_tesla/lib/middleware/opentelemetry_tesla_middleware.ex
  instrumentation/opentelemetry_tesla/test/middleware/opentelemetry_tesla_middleware_test.exs
Labels: elixir, instrumentation, opentelemetry_tesla

#157 Allow start_link/1 to be delegated
  propagators/opentelemetry_process_propagator/lib/task/supervisor.ex
Labels: elixir, propagators, opentelemetry_process_propagator

#158 propagator v0.2.2
  instrumentation/opentelemetry_cowboy/CHANGELOG.md
  instrumentation/opentelemetry_cowboy/rebar.config
  instrumentation/opentelemetry_cowboy/src/opentelemetry_cowboy.app.src
  propagators/opentelemetry_process_propagator/CHANGELOG.md
  propagators/opentelemetry_process_propagator/src/opentelemetry_process_propagator.app.src
Labels: instrumentation, opentelemetry_cowboy, erlang, propagators, opentelemetry_process_propagator

#156 [grpcbox] bump version
  instrumentation/opentelemetry_grpcbox/src/opentelemetry_grpcbox.app.src
Labels: instrumentation

#160 OpentelemetryReq plugin
  .github/labeler.yml
  .github/workflows/elixir.yml
  README.md
  instrumentation/opentelemetry_req/.formatter.exs
  instrumentation/opentelemetry_req/.gitignore
  instrumentation/opentelemetry_req/CHANGELOG.md
  instrumentation/opentelemetry_req/LICENSE
  instrumentation/opentelemetry_req/README.md
  instrumentation/opentelemetry_req/lib/opentelemetry_req.ex
  instrumentation/opentelemetry_req/mix.exs
  instrumentation/opentelemetry_req/mix.lock
  instrumentation/opentelemetry_req/test/opentelemetry_req_test.exs
  instrumentation/opentelemetry_req/test/test_helper.exs
Labels: elixir, instrumentation, scope-ci, opentelemetry_req
