Repository open-telemetry/opentelemetry-erlang-contrib, pull requests merged in 2023-10, with the labels that each got.

#211 Fixup doc version and typo
  instrumentation/opentelemetry_tesla/README.md
  instrumentation/opentelemetry_tesla/lib/middleware/opentelemetry_tesla_middleware.ex
Labels: elixir, instrumentation, opentelemetry_tesla

#213 Tesla 2.3.0
  instrumentation/opentelemetry_tesla/mix.exs
Labels: elixir, instrumentation, opentelemetry_tesla

#214 Revert span name change to pre-1.18 spec
  instrumentation/opentelemetry_req/lib/opentelemetry_req.ex
Labels: elixir, instrumentation, opentelemetry_req

#193 opentelemetry_req: Don't assume `request.headers` shape
  instrumentation/opentelemetry_req/lib/opentelemetry_req.ex
  instrumentation/opentelemetry_req/mix.exs
  instrumentation/opentelemetry_req/mix.lock
  instrumentation/opentelemetry_req/test/opentelemetry_req_test.exs
Labels: elixir, instrumentation, opentelemetry_req

#219 Fix tiny typos
  propagators/opentelemetry_process_propagator/lib/opentelemetry_process_propagator.ex
Labels: elixir, propagators, opentelemetry_process_propagator

#220 Fix documentation example for OpentelemetryProcessPropagator
  propagators/opentelemetry_process_propagator/lib/opentelemetry_process_propagator.ex
Labels: documentation, elixir, scope-ci, propagators, opentelemetry_process_propagator

#173 Dice game example
  examples/roll_dice/.formatter.exs
  examples/roll_dice/.gitignore
  examples/roll_dice/README.md
  examples/roll_dice/config/config.exs
  examples/roll_dice/config/dev.exs
  examples/roll_dice/config/prod.exs
  examples/roll_dice/config/runtime.exs
  examples/roll_dice/config/test.exs
  examples/roll_dice/docker-compose.yml
  examples/roll_dice/lib/roll_dice.ex
  examples/roll_dice/lib/roll_dice/application.ex
  examples/roll_dice/lib/roll_dice_web.ex
  examples/roll_dice/lib/roll_dice_web/controllers/dice_controller.ex
  examples/roll_dice/lib/roll_dice_web/controllers/error_json.ex
  examples/roll_dice/lib/roll_dice_web/endpoint.ex
  examples/roll_dice/lib/roll_dice_web/gettext.ex
  examples/roll_dice/lib/roll_dice_web/router.ex
  examples/roll_dice/lib/roll_dice_web/telemetry.ex
  examples/roll_dice/mix.exs
  examples/roll_dice/mix.lock
  examples/roll_dice/otel-collector-config.yaml
  examples/roll_dice/priv/gettext/en/LC_MESSAGES/errors.po
  examples/roll_dice/priv/gettext/errors.pot
  examples/roll_dice/priv/static/favicon.ico
  examples/roll_dice/priv/static/robots.txt
  examples/roll_dice/test/roll_dice_web/controllers/error_json_test.exs
  examples/roll_dice/test/support/conn_case.ex
  examples/roll_dice/test/test_helper.exs
Labels: elixir, examples
