Repository open-telemetry/opentelemetry-erlang-contrib, pull requests merged in 2023-09, with the labels that each got.

#203 Update release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: scope-ci

#204 Add debug log
  utilities/opentelemetry_telemetry/src/otel_telemetry.erl
Labels: erlang, opentelemetry_telemetry, utilities

#205 Handle empty stack
  utilities/opentelemetry_telemetry/src/otel_telemetry.erl
Labels: erlang, opentelemetry_telemetry, utilities

#206 Add strict version type for setup-beam
  .github/workflows/elixir.yml
  .github/workflows/erlang.yml
Labels: scope-ci

#207 Remove telemetry registry, fix broken log, update tests
  .github/elixir-test-matrix.json
  .github/erlang-test-matrix.json
  utilities/opentelemetry_telemetry/_checkouts/test_app/.gitignore
  utilities/opentelemetry_telemetry/_checkouts/test_app/LICENSE
  utilities/opentelemetry_telemetry/_checkouts/test_app/README.md
  utilities/opentelemetry_telemetry/_checkouts/test_app/rebar.config
  utilities/opentelemetry_telemetry/_checkouts/test_app/rebar.lock
  utilities/opentelemetry_telemetry/_checkouts/test_app/src/test_app.app.src
  utilities/opentelemetry_telemetry/_checkouts/test_app/src/test_app.erl
  utilities/opentelemetry_telemetry/_checkouts/test_app/src/test_app_app.erl
  utilities/opentelemetry_telemetry/_checkouts/test_app/src/test_app_sup.erl
  utilities/opentelemetry_telemetry/_checkouts/test_child_app/.gitignore
  utilities/opentelemetry_telemetry/_checkouts/test_child_app/LICENSE
  utilities/opentelemetry_telemetry/_checkouts/test_child_app/README.md
  utilities/opentelemetry_telemetry/_checkouts/test_child_app/rebar.config
  utilities/opentelemetry_telemetry/_checkouts/test_child_app/rebar.lock
  utilities/opentelemetry_telemetry/_checkouts/test_child_app/src/test_child_app.app.src
  utilities/opentelemetry_telemetry/_checkouts/test_child_app/src/test_child_app.erl
  utilities/opentelemetry_telemetry/_checkouts/test_child_app/src/test_child_app_app.erl
  utilities/opentelemetry_telemetry/_checkouts/test_child_app/src/test_child_app_sup.erl
  utilities/opentelemetry_telemetry/mix.exs
  utilities/opentelemetry_telemetry/mix.lock
  utilities/opentelemetry_telemetry/rebar.config
  utilities/opentelemetry_telemetry/rebar.lock
  utilities/opentelemetry_telemetry/src/opentelemetry_telemetry.app.src
  utilities/opentelemetry_telemetry/src/otel_telemetry.erl
  utilities/opentelemetry_telemetry/test/otel_telemetry_SUITE.erl
Labels: elixir, erlang, opentelemetry_telemetry, utilities

#187 Include `db.system` attribute in `opentelemetry_ecto`
  instrumentation/opentelemetry_ecto/lib/opentelemetry_ecto.ex
  instrumentation/opentelemetry_ecto/mix.lock
  instrumentation/opentelemetry_ecto/test/opentelemetry_ecto_test.exs
Labels: elixir, instrumentation, opentelemetry_ecto

#209 Update README.md
  utilities/opentelemetry_telemetry/README.md
Labels: opentelemetry_telemetry, utilities
