Repository open-telemetry/opentelemetry-erlang-contrib, pull requests merged in 2023-11, with the labels that each got.

#216 Update Req deps
  instrumentation/opentelemetry_req/mix.lock
Labels: elixir, instrumentation, opentelemetry_req, chore, skip-changelog

#202 chore: run propagator dialyzer on CI
  .github/elixir-test-matrix.json
  .github/workflows/elixir.yml
  propagators/opentelemetry_process_propagator/.gitignore
  propagators/opentelemetry_process_propagator/mix.exs
  propagators/opentelemetry_process_propagator/mix.lock
Labels: elixir, scope-ci, propagators, opentelemetry_process_propagator

#222 Update Oban's README.md
  instrumentation/opentelemetry_oban/README.md
Labels: instrumentation, opentelemetry_oban

#221 Add tests to cover new liveview integration
  instrumentation/opentelemetry_phoenix/test/opentelemetry_phoenix_test.exs
  instrumentation/opentelemetry_phoenix/test/support/phoenix_liveview_meta.ex
Labels: opentelemetry_phoenix, elixir, instrumentation

#224 Revert "chore: run propagator dialyzer on CI"
  .github/elixir-test-matrix.json
  .github/workflows/elixir.yml
  propagators/opentelemetry_process_propagator/.gitignore
  propagators/opentelemetry_process_propagator/mix.exs
  propagators/opentelemetry_process_propagator/mix.lock
Labels: elixir, scope-ci, propagators, opentelemetry_process_propagator

#228 Update elixir-test-matrix.json
  .github/elixir-test-matrix.json
  .github/erlang-test-matrix.json
  .github/labeler.yml
  instrumentation/opentelemetry_dataloader/mix.exs
Labels: opentelemetry_phoenix, elixir, instrumentation, opentelemetry_ecto, opentelemetry_cowboy, erlang, opentelemetry_redix, opentelemetry_oban, opentelemetry_telemetry, propagators, opentelemetry_process_propagator, opentelemetry_tesla, opentelemetry_aws_xray, opentelemetry_finch, opentelemetry_nebulex, opentelemetry_req, chore, opentelemetry_dataloader, opentelemetry_elli, opentelemetry_grpcbox, opentelemetry_instrumentation_http, opentelemetry_httpoison

#174 fix elli readme excluded_paths doc
  instrumentation/opentelemetry_elli/README.md
Labels: instrumentation, skip-changelog, opentelemetry_elli

#240 Don't package dataloader
  instrumentation/opentelemetry_dataloader/mix.exs
  instrumentation/opentelemetry_dataloader/mix.lock
Labels: elixir, instrumentation, opentelemetry_dataloader

#243 Req v0.2.0
  instrumentation/opentelemetry_req/CHANGELOG.md
  instrumentation/opentelemetry_req/mix.exs
Labels: elixir, instrumentation, scope-ci, opentelemetry_req, skip-changelog
