Repository open-telemetry/opentelemetry-erlang-contrib, pull requests merged in 2023-07, with the labels that each got.

#165 Record an exception as an error only when Plug.Exception.status/1 returns 500..599.
  instrumentation/opentelemetry_phoenix/lib/opentelemetry_phoenix.ex
Labels: opentelemetry_phoenix, elixir, instrumentation

#180 Redis: propagate the span context if available
  instrumentation/opentelemetry_redix/lib/opentelemetry_redix.ex
  instrumentation/opentelemetry_redix/mix.exs
  instrumentation/opentelemetry_redix/mix.lock
Labels: elixir, instrumentation, opentelemetry_redix

#186 Opentelemetry instrumentation http
  .github/labeler.yml
  .github/workflows/erlang.yml
  utilities/opentelemetry_instrumentation_http/.gitignore
  utilities/opentelemetry_instrumentation_http/CHANGELOG.md
  utilities/opentelemetry_instrumentation_http/LICENSE
  utilities/opentelemetry_instrumentation_http/README.md
  utilities/opentelemetry_instrumentation_http/docs.config
  utilities/opentelemetry_instrumentation_http/docs.sh
  utilities/opentelemetry_instrumentation_http/rebar.config
  utilities/opentelemetry_instrumentation_http/rebar.lock
  utilities/opentelemetry_instrumentation_http/src/opentelemetry_instrumentation_http.app.src
  utilities/opentelemetry_instrumentation_http/src/opentelemetry_instrumentation_http.erl
Labels: scope-ci, erlang, utilities
