Repository open-telemetry/opentelemetry-erlang-contrib, pull requests merged in 2024-07, with the labels that each got.

#316 Add opentelemetry_xandra package
  .github/hex-packages.json
  .github/labeler.yml
  .github/release-drafter-templates/opentelemetry-xandra.yml
  .github/workflows/elixir.yml
  CODEOWNERS
  instrumentation/opentelemetry_xandra/.formatter.exs
  instrumentation/opentelemetry_xandra/.gitignore
  instrumentation/opentelemetry_xandra/README.md
  instrumentation/opentelemetry_xandra/config/config.exs
  instrumentation/opentelemetry_xandra/docker-compose.yml
  instrumentation/opentelemetry_xandra/lib/opentelemetry_xandra.ex
  instrumentation/opentelemetry_xandra/mix.exs
  instrumentation/opentelemetry_xandra/mix.lock
  instrumentation/opentelemetry_xandra/test/opentelemetry_xandra_test.exs
  instrumentation/opentelemetry_xandra/test/test_helper.exs
Labels: elixir, instrumentation, scope-ci

#321 Port opentelemetry_broadway to this repo
  .github/hex-packages.json
  .github/labeler.yml
  .github/release-drafter-templates/opentelemetry-broadway.yml
  .github/workflows/elixir.yml
  .github/workflows/publish-mix-hex-release.yml
  .github/workflows/release-drafter.yml
  CODEOWNERS
  instrumentation/opentelemetry_broadway/.formatter.exs
  instrumentation/opentelemetry_broadway/.gitignore
  instrumentation/opentelemetry_broadway/CHANGELOG.md
  instrumentation/opentelemetry_broadway/LICENSE
  instrumentation/opentelemetry_broadway/README.md
  instrumentation/opentelemetry_broadway/lib/opentelemetry_broadway.ex
  instrumentation/opentelemetry_broadway/lib/opentelemetry_broadway/job_handler.ex
  instrumentation/opentelemetry_broadway/mix.exs
  instrumentation/opentelemetry_broadway/mix.lock
  instrumentation/opentelemetry_broadway/test/opentelemetry_broadway_test.exs
  instrumentation/opentelemetry_broadway/test/support/test_broadway.ex
  instrumentation/opentelemetry_broadway/test/support/test_helpers.ex
  instrumentation/opentelemetry_broadway/test/test_helper.exs
Labels: elixir, instrumentation, scope-ci

#349 Fix releases for Xandra and Broadway packages
  .github/workflows/publish-mix-hex-release.yml
  .github/workflows/release-drafter.yml
  instrumentation/opentelemetry_broadway/mix.exs
Labels: elixir, instrumentation, scope-ci, opentelemetry_broadway

#350 Fix Xandra and Broadway releases
  instrumentation/opentelemetry_broadway/CHANGELOG.md
  instrumentation/opentelemetry_broadway/mix.exs
  instrumentation/opentelemetry_xandra/mix.exs
Labels: elixir, instrumentation, opentelemetry_xandra, opentelemetry_broadway

#354 Rename stuff in opentelemetry_xandra and release v0.2.0
  instrumentation/opentelemetry_xandra/CHANGELOG.md
  instrumentation/opentelemetry_xandra/README.md
  instrumentation/opentelemetry_xandra/lib/opentelemetry_xandra.ex
  instrumentation/opentelemetry_xandra/mix.exs
  instrumentation/opentelemetry_xandra/test/opentelemetry_xandra_test.exs
Labels: elixir, instrumentation, opentelemetry_xandra

#311 Support Bandit 1.4 telemetry changes
  instrumentation/opentelemetry_bandit/lib/opentelemetry_bandit.ex
  instrumentation/opentelemetry_bandit/mix.exs
  instrumentation/opentelemetry_bandit/mix.lock
  instrumentation/opentelemetry_bandit/test/bandit/opentelemetry_bandit_test.exs
Labels: elixir, instrumentation, opentelemetry_bandit
