Repository open-telemetry/opentelemetry-erlang-contrib, pull requests merged in 2024-09, with the labels that each got.

#376 fix: update references to logging exporter
  examples/roll_dice/otel-collector-config.yaml
  examples/roll_dice_elli/otel-collector-config.yaml
Labels: examples

#358 Renaming http utility lib to otel_http
  .github/hex-packages.json
  .github/labeler.yml
  .github/workflows/erlang.yml
  .github/workflows/publish-mix-hex-release.yml
  CODEOWNERS
  utilities/opentelemetry_instrumentation_http/src/opentelemetry_instrumentation_http.app.src
  utilities/otel_http/.gitignore
  utilities/otel_http/CHANGELOG.md
  utilities/otel_http/LICENSE
  utilities/otel_http/README.md
  utilities/otel_http/rebar.config
  utilities/otel_http/rebar.lock
  utilities/otel_http/src/otel_http.app.src
  utilities/otel_http/src/otel_http.erl
  utilities/otel_http/test/otel_http_SUITE.erl
Labels: scope-ci, erlang, utilities, otel_http, opentelemetry_instrumentation_http

#379 Update publish vsns
  .github/elixir-test-matrix.json
  .github/erlang-test-matrix.json
  .github/workflows/publish-mix-hex-release.yml
Labels: elixir, scope-ci, erlang

#380 Exclude lock file
  utilities/otel_http/src/otel_http.app.src
Labels: utilities, otel_http

#381 Fix license
  utilities/otel_http/src/otel_http.app.src
Labels: utilities, otel_http

#382 Format broadway
  instrumentation/opentelemetry_broadway/mix.exs
Labels: elixir, instrumentation, opentelemetry_broadway

#345 Handle empty stack in pop_from_tracer_stack
  utilities/opentelemetry_telemetry/src/otel_telemetry.erl
Labels: erlang, opentelemetry_telemetry, utilities, patch

#370 opentelemetry_process_propagator: Optimize remote pdict lookup
  propagators/opentelemetry_process_propagator/src/opentelemetry_process_propagator.erl
Labels: elixir, scope-ci, erlang, propagators, opentelemetry_process_propagator

#383 Drop Elixir 1.14
  .github/elixir-test-matrix.json
Labels: elixir
