Repository open-telemetry/opentelemetry-erlang-contrib, pull requests merged in 2024-06, with the labels that each got.

#331 chore: fix ecto doc
  instrumentation/opentelemetry_ecto/lib/opentelemetry_ecto.ex
Labels: elixir, instrumentation, opentelemetry_ecto

#325 Fix typos
  instrumentation/opentelemetry_ecto/lib/opentelemetry_ecto.ex
  instrumentation/opentelemetry_ecto/test/opentelemetry_ecto_test.exs
  instrumentation/opentelemetry_httpoison/lib/opentelemetry_httpoison.ex
  instrumentation/opentelemetry_redix/test/opentelemetry_redix_test.exs
  instrumentation/opentelemetry_req/lib/opentelemetry_req.ex
  utilities/opentelemetry_instrumentation_http/CHANGELOG.md
Labels: elixir, instrumentation, opentelemetry_ecto, opentelemetry_redix, utilities, opentelemetry_req, skip-changelog, opentelemetry_instrumentation_http, opentelemetry_httpoison

#336 Dataloader lock update
  instrumentation/opentelemetry_dataloader/mix.lock
Labels: elixir, instrumentation, scope-ci, skip-changelog, opentelemetry_dataloader

#339 Update erlang/elixir version test matrix
  .github/elixir-test-matrix.json
  .github/erlang-test-matrix.json
  instrumentation/opentelemetry_cowboy/rebar.config
  instrumentation/opentelemetry_cowboy/rebar.lock
  instrumentation/opentelemetry_elli/rebar.config
  instrumentation/opentelemetry_elli/rebar.lock
  instrumentation/opentelemetry_grpcbox/rebar.config
  instrumentation/opentelemetry_grpcbox/rebar.lock
  utilities/opentelemetry_telemetry/mix.exs
  utilities/opentelemetry_telemetry/mix.lock
  utilities/opentelemetry_telemetry/rebar.config
  utilities/opentelemetry_telemetry/rebar.lock
Labels: opentelemetry_phoenix, elixir, instrumentation, opentelemetry_ecto, opentelemetry_cowboy, erlang, opentelemetry_redix, opentelemetry_oban, opentelemetry_telemetry, utilities, opentelemetry_process_propagator, opentelemetry_tesla, opentelemetry_aws_xray, opentelemetry_finch, opentelemetry_nebulex, opentelemetry_req, chore, dependencies, opentelemetry_dataloader, opentelemetry_elli, opentelemetry_grpcbox, opentelemetry_instrumentation_http, opentelemetry_httpoison, opentelemetry_bandit

#337 Fix bandit formatting
  instrumentation/opentelemetry_bandit/mix.exs
Labels: elixir, instrumentation, skip-changelog, opentelemetry_bandit
