Repository open-telemetry/opentelemetry-erlang-contrib, pull requests merged in 2024-02, with the labels that each got.

#250 Hex publishing workflow
  .github/hex-packages.json
  .github/workflows/publish-mix-hex-release.yml
  instrumentation/opentelemetry_dataloader/mix.exs
  instrumentation/opentelemetry_ecto/mix.exs
  instrumentation/opentelemetry_finch/mix.exs
  instrumentation/opentelemetry_nebulex/mix.exs
  instrumentation/opentelemetry_oban/mix.exs
  instrumentation/opentelemetry_phoenix/mix.exs
  instrumentation/opentelemetry_redix/mix.exs
  instrumentation/opentelemetry_req/mix.exs
  instrumentation/opentelemetry_tesla/mix.exs
  utilities/opentelemetry_telemetry/mix.exs
Labels: opentelemetry_phoenix, elixir, instrumentation, scope-ci, opentelemetry_ecto, opentelemetry_redix, opentelemetry_oban, opentelemetry_telemetry, utilities, opentelemetry_tesla, opentelemetry_finch, opentelemetry_nebulex, opentelemetry_req, opentelemetry_dataloader

#268 Update aws xray project profiles
  utilities/opentelemetry_aws_xray/rebar.config
Labels: erlang, utilities, opentelemetry_aws_xray, chore

#269 aws x-ray docs and license
  utilities/opentelemetry_aws_xray/LICENSE
  utilities/opentelemetry_aws_xray/rebar.config
Labels: erlang, utilities, opentelemetry_aws_xray, skip-changelog

#248 Phoenix 1.2.0 release prep
  instrumentation/opentelemetry_phoenix/CHANGELOG.md
  instrumentation/opentelemetry_phoenix/README.md
  instrumentation/opentelemetry_phoenix/mix.exs
Labels: opentelemetry_phoenix, elixir, instrumentation, skip-changelog

#272 Update Ecto 1.2.0 Changelog
  instrumentation/opentelemetry_ecto/CHANGELOG.md
Labels: instrumentation, opentelemetry_ecto, minor

#276 Clean unused deps from lock file
  utilities/opentelemetry_telemetry/mix.lock
Labels: bug, elixir, opentelemetry_telemetry, utilities

#261 Process Propagator: Allow looking up parent when parent is a named process
  propagators/opentelemetry_process_propagator/src/opentelemetry_process_propagator.erl
  propagators/opentelemetry_process_propagator/test/opentelemetry_process_propagator_test.exs
Labels: bug, elixir, erlang, propagators, opentelemetry_process_propagator, minor

#283 Update opentelemetry
  instrumentation/opentelemetry_dataloader/mix.lock
  instrumentation/opentelemetry_ecto/mix.lock
  instrumentation/opentelemetry_finch/mix.lock
  instrumentation/opentelemetry_httpoison/mix.lock
  instrumentation/opentelemetry_nebulex/mix.lock
  instrumentation/opentelemetry_oban/mix.lock
  instrumentation/opentelemetry_phoenix/mix.lock
  instrumentation/opentelemetry_redix/mix.lock
  instrumentation/opentelemetry_tesla/mix.exs
  instrumentation/opentelemetry_tesla/mix.lock
Labels: opentelemetry_phoenix, elixir, instrumentation, scope-ci, opentelemetry_ecto, opentelemetry_redix, opentelemetry_oban, opentelemetry_tesla, opentelemetry_finch, opentelemetry_nebulex, chore, skip-changelog, opentelemetry_dataloader, opentelemetry_httpoison

#285 Update publishing settings
  instrumentation/opentelemetry_cowboy/CHANGELOG.md
  instrumentation/opentelemetry_cowboy/README.md
  instrumentation/opentelemetry_cowboy/docs.config
  instrumentation/opentelemetry_cowboy/docs.sh
  instrumentation/opentelemetry_cowboy/rebar.config
  instrumentation/opentelemetry_cowboy/rebar.lock
  instrumentation/opentelemetry_cowboy/src/opentelemetry_cowboy.app.src
Labels: instrumentation, scope-ci, opentelemetry_cowboy, erlang, chore, skip-changelog

#286 Update all library deps
  instrumentation/opentelemetry_dataloader/mix.lock
  instrumentation/opentelemetry_ecto/mix.lock
  instrumentation/opentelemetry_finch/mix.lock
  instrumentation/opentelemetry_grpcbox/rebar.lock
  instrumentation/opentelemetry_httpoison/mix.lock
  instrumentation/opentelemetry_nebulex/mix.lock
  instrumentation/opentelemetry_oban/mix.exs
  instrumentation/opentelemetry_oban/mix.lock
  instrumentation/opentelemetry_phoenix/mix.lock
  instrumentation/opentelemetry_redix/mix.lock
  instrumentation/opentelemetry_req/mix.lock
  instrumentation/opentelemetry_tesla/mix.lock
  propagators/opentelemetry_process_propagator/rebar.lock
Labels: opentelemetry_phoenix, elixir, instrumentation, opentelemetry_ecto, erlang, opentelemetry_redix, opentelemetry_oban, propagators, opentelemetry_process_propagator, opentelemetry_tesla, opentelemetry_finch, opentelemetry_nebulex, opentelemetry_req, skip-changelog, opentelemetry_dataloader, opentelemetry_grpcbox, opentelemetry_httpoison

#249 Add bandit telemetry support for opentelemetry-phoenix
  .github/labeler.yml
  .github/release-drafter-templates/opentelemetry-bandit.yml
  .github/workflows/elixir.yml
  .github/workflows/release-drafter.yml
  instrumentation/opentelemetry_bandit/.formatter.exs
  instrumentation/opentelemetry_bandit/.gitignore
  instrumentation/opentelemetry_bandit/CHANGELOG.md
  instrumentation/opentelemetry_bandit/LICENSE
  instrumentation/opentelemetry_bandit/README.md
  instrumentation/opentelemetry_bandit/config/config.exs
  instrumentation/opentelemetry_bandit/config/test.exs
  instrumentation/opentelemetry_bandit/lib/opentelemetry_bandit.ex
  instrumentation/opentelemetry_bandit/mix.exs
  instrumentation/opentelemetry_bandit/mix.lock
  instrumentation/opentelemetry_bandit/test/bandit/opentelemetry_bandit_test.exs
  instrumentation/opentelemetry_bandit/test/support/server_helper.ex
  instrumentation/opentelemetry_bandit/test/test_helper.exs
  instrumentation/opentelemetry_phoenix/lib/opentelemetry_phoenix.ex
Labels: opentelemetry_phoenix, elixir, instrumentation, scope-ci

#264 Remove unnecessary Oban defaults
  README.md
  examples/basic_phoenix_ecto/lib/demo_web/templates/page/index.html.heex
  instrumentation/opentelemetry_oban/lib/opentelemetry_oban.ex
Labels: elixir, instrumentation, examples, opentelemetry_oban, skip-changelog

#294 Relax opentelemetry_telemetry
  instrumentation/opentelemetry_oban/mix.exs
  instrumentation/opentelemetry_oban/mix.lock
Labels: elixir, instrumentation, scope-ci, opentelemetry_oban
