Repository open-telemetry/opentelemetry-erlang-contrib, pull requests merged in 2024-01, with the labels that each got.

#230 Update cowboy to opentelemetry_api 1.2
  instrumentation/opentelemetry_cowboy/rebar.config
  instrumentation/opentelemetry_cowboy/rebar.lock
  instrumentation/opentelemetry_cowboy/src/opentelemetry_cowboy.app.src
  instrumentation/opentelemetry_cowboy/test/opentelemetry_cowboy_SUITE.erl
Labels: instrumentation, opentelemetry_cowboy, erlang

#256 Update max and min supported versions post OTP 26 and Elixir 1.16 releases
  .github/elixir-test-matrix.json
  .github/erlang-test-matrix.json
  README.md
Labels: documentation, opentelemetry_phoenix, elixir, instrumentation, opentelemetry_ecto, opentelemetry_cowboy, erlang, opentelemetry_redix, opentelemetry_oban, opentelemetry_telemetry, utilities, propagators, opentelemetry_process_propagator, opentelemetry_tesla, opentelemetry_aws_xray, opentelemetry_finch, opentelemetry_nebulex, opentelemetry_req, chore, dependencies, skip-changelog, opentelemetry_dataloader, opentelemetry_elli, opentelemetry_grpcbox, opentelemetry_instrumentation_http, opentelemetry_httpoison

#257 Hard code os to workflow file
  .github/workflows/elixir.yml
Labels: scope-ci

#253 Remove doc about function that is not being only a proxy
  instrumentation/opentelemetry_oban/README.md
Labels: instrumentation, opentelemetry_oban
