Repository open-telemetry/opentelemetry-erlang-contrib, pull requests merged in 2025-05, with the labels that each got.

#480 Fix - Crash when propagator fetches context from a remote node
  propagators/opentelemetry_process_propagator/src/opentelemetry_process_propagator.erl
Labels: elixir, erlang, propagators, opentelemetry_process_propagator

#463 chore: add commanded ci
  .github/hex-packages.json
  .github/labeler.yml
  .github/release-drafter-templates/opentelemetry-commanded.yml
  .github/workflows/elixir.yml
  .github/workflows/publish-mix-hex-release.yml
  .github/workflows/release-drafter.yml
Labels: scope-ci

#447 Remove deprecated warnings_as_errors compile opt for OpentelemetryPhoenix
  instrumentation/opentelemetry_phoenix/test/test_helper.exs
Labels: opentelemetry_phoenix, elixir, instrumentation

#487 Update all broadway deps
  .github/workflows/elixir.yml
  instrumentation/opentelemetry_broadway/CHANGELOG.md
  instrumentation/opentelemetry_broadway/README.md
  instrumentation/opentelemetry_broadway/mix.exs
  instrumentation/opentelemetry_broadway/mix.lock
Labels: elixir, instrumentation, scope-ci, opentelemetry_broadway

#491 Update all nebulex deps
  instrumentation/opentelemetry_nebulex/CHANGELOG.md
  instrumentation/opentelemetry_nebulex/mix.exs
  instrumentation/opentelemetry_nebulex/mix.lock
Labels: elixir, instrumentation, scope-ci, opentelemetry_nebulex

#495 Finch unlock
  .github/workflows/elixir.yml
  instrumentation/opentelemetry_finch/CHANGELOG.md
  instrumentation/opentelemetry_finch/README.md
  instrumentation/opentelemetry_finch/mix.exs
  instrumentation/opentelemetry_finch/mix.lock
Labels: elixir, instrumentation, scope-ci, opentelemetry_finch

#496 Update all redix deps
  .github/workflows/elixir.yml
  instrumentation/opentelemetry_redix/CHANGELOG.md
  instrumentation/opentelemetry_redix/README.md
  instrumentation/opentelemetry_redix/mix.exs
  instrumentation/opentelemetry_redix/mix.lock
Labels: elixir, instrumentation, scope-ci, opentelemetry_redix

#481 SemConv 1.27 support and various fixes
  .github/workflows/elixir.yml
  instrumentation/opentelemetry_ecto/.gitignore
  instrumentation/opentelemetry_ecto/CHANGELOG.md
  instrumentation/opentelemetry_ecto/config/test.exs
  instrumentation/opentelemetry_ecto/docker-compose.yml
  instrumentation/opentelemetry_ecto/lib/opentelemetry_ecto.ex
  instrumentation/opentelemetry_ecto/lib/opentelemetry_ecto_attributes.ex
  instrumentation/opentelemetry_ecto/mix.exs
  instrumentation/opentelemetry_ecto/mix.lock
  instrumentation/opentelemetry_ecto/priv/test_repo/migrations/1_setup_tables.exs
  instrumentation/opentelemetry_ecto/test/opentelemetry_ecto_test.exs
  instrumentation/opentelemetry_ecto/test/support/myxql_test_repo.ex
  instrumentation/opentelemetry_ecto/test/support/sqlite3_test_repo.ex
  instrumentation/opentelemetry_ecto/test/support/tds_test_repo.ex
  instrumentation/opentelemetry_ecto/test/support/test_repo.ex
  instrumentation/opentelemetry_ecto/test/test_helper.exs
Labels: elixir, instrumentation, scope-ci, opentelemetry_ecto

#467 fix(bandit): handles bandit throw/exit events
  instrumentation/opentelemetry_bandit/lib/opentelemetry_bandit.ex
  instrumentation/opentelemetry_bandit/test/bandit/opentelemetry_bandit_test.exs
Labels: elixir, instrumentation, opentelemetry_bandit
