Repository open-telemetry/opentelemetry-erlang-contrib, pull requests merged in 2025-02, with the labels that each got.

#472 Setup fossa
  .github/workflows/fossa.yml
Labels: scope-ci

#465 add http.route attribute. issue #464
  instrumentation/opentelemetry_phoenix/lib/opentelemetry_phoenix.ex
  instrumentation/opentelemetry_phoenix/test/integration_test.exs
Labels: opentelemetry_phoenix, elixir, instrumentation

#474 fix: correct usage of `with_span`
  propagators/opentelemetry_process_propagator/lib/opentelemetry_process_propagator.ex
Labels: elixir, propagators, opentelemetry_process_propagator
