Repository open-telemetry/opentelemetry-erlang-contrib, pull requests merged in 2025-01, with the labels that each got.

#446 Update Elixir and OTP versions
  .github/elixir-test-matrix.json
  .github/erlang-test-matrix.json
Labels: elixir, erlang

#409 chore(tesla): removing warnings and clean up test cases
  instrumentation/opentelemetry_tesla/test/middleware/opentelemetry_tesla_middleware_test.exs
Labels: elixir, instrumentation, opentelemetry_tesla

#442 delegates type t() to Task.t()
  propagators/opentelemetry_process_propagator/lib/task.ex
Labels: bug, elixir, propagators, opentelemetry_process_propagator

#429 Use semantic conventions for OpentelemetryEcto
  instrumentation/opentelemetry_ecto/lib/opentelemetry_ecto.ex
  instrumentation/opentelemetry_ecto/mix.exs
  instrumentation/opentelemetry_ecto/mix.lock
Labels: elixir, instrumentation, scope-ci, opentelemetry_ecto, skip-changelog

#460 add spec for liveview option to OpentelemetryPhoenix
  instrumentation/opentelemetry_phoenix/lib/opentelemetry_phoenix.ex
Labels: opentelemetry_phoenix, elixir, instrumentation
